@import './scss/animations/index_animations';
@import './scss/parts/index_parts';
@import './scss/elements/index_elements';
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('./resources/fonts/Roboto-Regular.woff2') format('woff2'),
    url('./resources/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  background: #3d3434;
  color: #ead8d8;
  cursor: default;
}
