//mixins  -------------------------------------------------
@mixin game-field($gameWidth, $gameHeight) {
  width: $gameWidth;
  height: $gameHeight;
}
@mixin pause-field($pauseWidth) {
  width: $pauseWidth;
  height: $pauseWidth;
}

@mixin sound-check-box(
  $checkboxMaxWidth,
  $checkboxMaxHeight,
  $circleDiameter,
  $slideBarStrokeWidth,
  $checkboxHeight
) {
  max-width: $checkboxMaxWidth;
  height: $checkboxMaxHeight;
  &::after {
    width: $circleDiameter;
    height: $circleDiameter;
    top: calc(51% - $circleDiameter / 2 + $slideBarStrokeWidth);
  }
  &::before {
    height: $checkboxHeight;
    max-height: $checkboxMaxHeight;
    top: calc(50% - $checkboxHeight / 2);
    max-width: $checkboxMaxWidth;
    border: $slideBarStrokeWidth solid #7b6b6b;
  }
  &.on {
    &::after {
      left: calc(100% - $circleDiameter + $slideBarStrokeWidth);
    }
  }
}
