@keyframes background_rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes foreground_rotation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  40% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(-180deg);
  }
  80% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
