$checkboxMaxWidth: 60px;
$checkboxHeight: 32px;
$checkboxMaxHeight: $checkboxHeight + 10px;
$circleRadius: 30px;
$slideBarStrokeWidth: 1px;
%flex-aljust-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sound {
  visibility: hidden;
  width: 100%;
  max-width: $checkboxMaxWidth;
  height: $checkboxMaxHeight;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  &::after {
    content: 'OFF';
    @extend %flex-aljust-center;
    display: block;
    visibility: visible;
    width: $circleRadius;
    height: $circleRadius;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: calc(51% - $circleRadius / 2 + $slideBarStrokeWidth);
    transition: 0.5s;
    text-align: center;
  }
  &::before {
    content: '';
    display: block;
    visibility: visible;
    width: 100%;
    height: $checkboxHeight;
    max-height: $checkboxMaxHeight;
    background: #7b6b6b;
    left: 0;
    top: calc(50% - $checkboxHeight / 2);
    position: absolute;
    max-width: $checkboxMaxWidth;
    border-radius: 50px;
    border: $slideBarStrokeWidth solid #7b6b6b;
    box-sizing: content-box;
  }
  &.on {
    &::after {
      content: 'ON';
      left: calc(100% - $circleRadius + $slideBarStrokeWidth);
    }
    &::before {
      background: #118c4e;
    }
  }
  &.disabled {
    cursor: default;
    &::after {
      background: #ecdddd;
    }
    &::before {
      background: #ecdddd;
    }
  }
}
